<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card-container">
      <!-- Card 1 -->
      <div class="card">
        <img src="assets/images/child.jpg" alt="" />
        <div class="card-content">
          <h3>Card 1</h3>
          <p>
            Lorem ipsum is a placeholder text commonly used to demonstrate the
            visual form of a document or a typeface without relying on
            meaningful content.
          </p>
          <a href="" class="btn">Read More</a>
        </div>
      </div>

      <!-- Card Two -->
      <div class="card">
        <img src="assets/images/child.jpg" alt="" />
        <div class="card-content">
          <h3>Card 2</h3>
          <p>
            Lorem ipsum is a placeholder text commonly used to demonstrate the
            visual form of a document or a typeface without relying on
            meaningful content.
          </p>
          <a href="" class="btn">Read More</a>
        </div>
      </div>

      <!-- Card Three -->
      <div class="card">
        <img src="assets/images/child.jpg" alt="" />
        <div class="card-content">
          <h3>Card </h3>
          <p>
            Lorem ipsum is a placeholder text commonly used to demonstrate the
            visual form of a document or a typeface without relying on
            meaningful content.
          </p>
          <a href="" class="btn">Read More</a>
        </div>
      </div>

    </div>
  </body>
</html>
